<!DOCTYPE html>
<html lang="eng">

<head meta charset="UTF-8">
    <meta name ="viewport" comment="width=device-width">

    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" >  </script>
   
    <script type="text/javascript" > 
     function displayItems()
     {
        $.adjax({url:"view-cart.php", success:function(result)
        {
            $("div").text(result);
        }
        
        })

     } 
    
    </script>
</head>
<title></title>
<body>

    <form method="post" action="view-cart.php"> 
   <h1>List of Products form items</h1>
<table>  
    
      
    <tr> 
    <td>  <img src="/images/products/anvil-tn.png" class="image"> <figcaption id="picture-name"> Price: $1.50 </figcaption>
        <div class="description"> 
        </div>  </td>
    </tr>
   
            <input type="checkbox" name="image" value="anvil" checked="checked"> <br>
        </table>
        
        <table>  
    
      
                <tr> 
                <td>  <img src="/images/products/bomb-tn.png" class="image"> <figcaption id="picture-name"> Price: $1.50 </figcaption>
                    <div class="description"> 
                    </div>  </td>
                </tr>
               
                        <input type="checkbox" name="image" value="bomb" checked="checked">  <br>
                    </table>
        <input type="submit" name="Add to cart">
</form>            
</body>
</html>