<!DOCTYPE html>
<html lang="eng">

<head meta charset="UTF-8">
    <meta name ="viewport" comment="width=device-width">
</head>
<title></title>
<body>

    <form action="result.php" method="post">
        Name: <input type="text" name="name"><br>
        E-mail: <input type="text" name="email"><br>
        
        <input type="radio"  name=" major" value="ComputerScience" checked> Computer Science <br>
        <input type="radio"  name=" major" value="WebDesign" checked> Web Design & Development<br>
        <input type="radio"   name=" major" value="Cit" checked> CIT<br>
        <input type="submit" name="submit">
    
        <textarea rows ="4" col="50" ></textarea>
      
        </form>

</body>
</html>