<!DOCTYPE html>
<html lang="eng">

<head meta charset="UTF-8">
    <meta name ="viewport" comment="width=device-width">
</head>
<title></title>
<body>

    <form action="result.php" method="post">
       <label>  Name:</label> 
       <input type="text" name="name"><br>
       <label> E-mail:</label> 
         <input type="text" name="email"><br>
         <label> Major </label> 
        <input type="radio"  name=" major" value="ComputerScience" checked> Computer Science <br>
        <input type="radio"  name=" major" value="WebDesign" checked> Web Design & Development<br>
        <input type="radio"   name=" major" value="Cit" checked> CIT<br>
        <label> Comment </label> 
        <textarea  name="comment" rows ="100" col="150" ></textarea><br>
        <label> Check the list of continents you have visited </label> 
        <input type="checkbox" name="continent" value="America" checked="checked"> North America <br>
        <input type="checkbox" name="continent" value="SourthAmerica" checked="checked"> Sourth America<b>
         <input type="checkbox" name="continent" value="Europe" checked="checked"> Europe<b>
         <input type="checkbox" name="continent" value="Asia" checked="checked">Asia<br>
         <input type="checkbox" name="continent" value="Australia" checked="checked">Australia<br>
         <input type="checkbox" name="continent" value="Africa" checked="checked">Africa<br>
         
         <input type="checkbox" name="continent" value="Antartica" checked="checked">Atartica<br>
        <input type="submit" name="submit">
    
      
      
        </form>

</body>
</html>