*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
  background-color:whitesmoke;
}
a:link {
    text-decoration: none;
}
 .description{
     border-style: solid;
     border-width: 5px;
     width: 500px;
     margin-left:2em;
     padding-top: 1em;
 }
.wrapper{
    display:flex;

}



