*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
  background-color:whitesmoke;
}
a:link {
    text-decoration: none;
}
 p{
     border-style: solid;
     border-width: 5px;
     width: 200px;
 }



